@import '../login/login.scss';

 .aui-list .flea-text-default{
	color:$base-color;
}


.flea-login-ways{
	margin-top:6rem;
}

.flea-login-action .aui-list-item:first-child{
	margin-top:0.5rem !important;
}

.aui-list .heading_pic img {
    width: 6.5rem;
    min-width: 6.5rem;
    height: 6.5rem;
}

button{
	border:none;
}