@import '../login/login.scss';

 .aui-list .flea-text-default{
	color:$base-color;
}

body{
	overflow:hidden;
}

.flea-login-ways{
	margin-top:6rem;
}

.flea-login-action .aui-list-item:first-child{
	margin-top:0.5rem !important;
}

.aui-list .heading_pic img {
    width: 6.5rem;
    min-width: 6.5rem;
    height: 6.5rem;
}

button{
	border:none;
}


.flea-forget{
	position:relative;

	&>section{
		position:absolute;
		left:0;
		top:0;
	}
}

#next_step{
	width: 100%;
	transition: all 0.5s cubic-bezier(0, 0, 0.69, 1.15);
	display:none;
	opacity:0;
	&.fade-in{
		display:block;
		opacity:1;
	}
}

#first_step{
	transition: all 0.5s cubic-bezier(0, 0, 0.09,-0.46);
	&.fade-out{
		display: none;
	}
}
